.App{
    color: rgb(52, 38, 11);
    text-align: center;
    background-color: burlywood;
}
.butt{
    background-color: crimson;
    color: black;
    border-radius: 15px;
    border: brown;
}

.task-name{
    padding-top: 15px;
    padding-bottom: 20px;
    color:darkblue;
}