.App{
    color: rgb(52, 38, 11);
    align-content: center;
    justify-content: center;
    align-self: center;
    background-color: burlywood;
}
.butt{
    background-color: crimson;
    color: black;
    border-radius: 15px;
    border: brown;
}